.progress-bar-container {
  width: 100%;
}

.volume-bar-container {
  display: flex;
  align-items: center;
  margin-right: 15px;

  .audio-button {
    width: 15px;
    height: 15px;
    padding-bottom: 3px;

    svg {
      width: 15px;
      height: 15px;
    }
  }
}

.progress-bar {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #515052;
}

.volume-bar {
  width: 100px;
  height: 5px;
  border-radius: 5px;
  margin: auto;
  background-color: #515052;
}
