.playlist-image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto auto;
  overflow: hidden;
}

.playlist-image {
  width: 20%;
}

.playlist-liked-songs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 125px;
  margin-bottom: 20px;

  background: hsla(1, 100%, 59%, 1);

  background: linear-gradient(
    135deg,
    hsla(1, 100%, 59%, 1) 0%,
    hsla(355, 65%, 41%, 1) 100%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(1, 100%, 59%, 1) 0%,
    hsla(355, 65%, 41%, 1) 100%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(1, 100%, 59%, 1) 0%,
    hsla(355, 65%, 41%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF312E", endColorstr="#AB2430", GradientType=1 );
}
