.audio-controller-container {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
}

.music-controls-container {
  display: grid;
  grid-row-start: 2;
  grid-template-columns: 2fr 1fr 2fr;

  .button-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    grid-column-start: 2;
    align-items: flex-end;

    div:nth-child(3) {
      width: 30px;
      height: 30px;
    }
  }
}

.progress-time-container {
  display: grid;
  grid-row-start: 3;
  grid-template-columns: 1fr 8fr 1fr;
  justify-items: center;
  align-items: center;

  p {
    margin: 0;
    font-size: small;
    color: #b3b3b3;
  }
}
