.playlist-header-container {
  display: grid;
  height: 25vh;
  min-height: 220px;
  grid-template-columns: 250px auto;
  background-color: black;
  color: white;
}

.playlist-header-details-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5px 10px 5px 10px;
}

.playlist-header-headline {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.playlist-header-title {
  font-size: 4rem;
}
