.play-button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0px 15px 20px;
  height: 60px;
}

.play-image-container {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid white;
  transition: .5s, .5s;
}

.play-image-container:hover {
  transform: scale(1.1);
  transition: .5s, .5s;
}

.play-image-container .play-image {
  margin-left: 3px;
  transition: .5s, .5s;
}

.play-image-container:hover .play-image {
  transform: scale(1.1);
  transition: .5s, .5s;
}
