.play-button-container {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0px 20px 30px;
}

.play-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid white;
}

.play-image-container .play-image {
  width: 18px;
  height: 18px;
}
